.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

 .form-control {border-color: black;}

 select { border-color: black; }
 .loun { color:gray;}
